{% extends "base.html" %}
{% load staticfiles %}
{% load logchan_extras %}

{% block content %}
    <article>
        <ul id="threads">
            {% for thread in threads %}
                <li>
                    <a href="{{thread.id}}">{{ thread.subject }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>

    <form id="threadForm" method="POST" target="/post_thread">
        <fieldset>
            {% csrf_token %}
            <input name="board" type="hidden" value="{{board.name}}">
            <textarea name="message"></textarea>
            {% if user|is_in_group:"Admin" == False and user|is_in_group:"Mod" == False %}
            <div id="captcha" class="g-recaptcha" data-sitekey="6LehwCMUAAAAAETf-zimatAVRGFiIENLWyIfPE8G"></div>
            {% endif %}
            <input id="usernameInput" placeholder="Username" name="user_name" type="text">
            <input id="subjectInput" placeholder="Subject" name="subject" type="text">
            <br>
            <label class="fileLabel" for="imageInput">Upload Image</label>
            <input id="imageInput" name="image" style="display:none;" type="file">
            <input type="submit" value="Post">
        </fieldset>
    </form>

    <script src="/static/js/board.js"></script>

{% endblock %}

{% block management %}
{% if user|is_in_group:"Admin" %}
<form class="deleteForm" id="deleteBoardForm">
    {% csrf_token %}
    <input name="board" type="hidden" value="{{board.name}}">
    <input class="deleteButton" type="submit" value="Delete board">
</form>
{% endif %}
{% endblock %}
