{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <article>
        <form method="post" role="form" action="">
            {% csrf_token %}
            {% if errors %}
                <p class="error">{{ errors }}</p>
            {% endif %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login" />
        </form>
    </article>
{% endblock %}
