{% extends "base.html" %}
{% load staticfiles %}
{% load logchan_extras %}

{% block content %}
    <article>
        <ul id="posts">
            {% for post in posts %}
                <li>
                    <a href="#" class="post_id">{{post.id}}</a>
                    <span class="user_name">
                    {% if post.user_name %}
                        {{post.user_name}}
                    {% else %}
                        Anonymous
                    {% endif %}
                    </span>
                    {% if user|is_in_group:"Admin" or user|is_in_group:"Mod" %}
                    <button class="deletePost" onclick="submitDeletePostForm({{ post.id }})">Delete post</button>
                    {% endif %}
                    {% if post.image %}
                        <img src="{{MEDIA_URL}}{{post.image.url}}" alt="{{post.id}}"/>
                    {% endif %}
                    <p>{{ post.message }}</p>
                </li>
            {% endfor %}
        </ul>
    </article>

    <form id="postForm" method="POST">
        <fieldset>
            {% csrf_token %}
            <input name="thread" type="hidden" value="{{thread.id}}">
            <textarea name="message"></textarea>
            {% if user|is_in_group:"Admin" == False and user|is_in_group:"Mod" == False %}
            <div class="g-recaptcha" data-sitekey="6LehwCMUAAAAAETf-zimatAVRGFiIENLWyIfPE8G"></div>
            {% endif %}
            <input id="usernameInput" placeholder="Username" name="user_name" type="text">
            <br>
            <label class="fileLabel" for="imageInput">Upload Image</label>
            <input id="imageInput" name="image" style="display:none;" type="file">
            <input type="submit" value="Post">
        </fieldset>
    </form>

    <script src="/static/js/thread.js"></script>

{% endblock %}

{% block management %}
{% if user|is_in_group:"Admin" or user|is_in_group:"Mod" %}
<article>
<form id="deleteThreadForm">
    <fieldset>
        {% csrf_token %}
        <input name="board" type="hidden" value="{{board.name}}">
        <input name="thread" type="hidden" value="{{thread.id}}">
        <input type="submit" value="Delete thread">
    </fieldset>
</form>
</article>
<form id="deletePostForm" style="display: none">
<fieldset>
    {% csrf_token %}
    <input name="post" type="hidden">
    <input name="thread" type="hidden" value="{{thread.id}}">
    <input type="submit" value="Delete Post">
</fieldset>
</form>
{% endif %}
{% endblock %}
