body{
    font-size: 15pt;
    font-family: 'Slabo 27px', serif;
    background-color: #EFEFEF;
}


header {
    text-align: center;
    position: fixed;
    top: auto;
    left: 20px;
}

header h1 {
    padding: 10px;
    margin: auto;
}

header nav {
    margin: auto;
    max-width: 200px;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    list-style-type: none;
    display: inline;
}

header nav li.currentBoard {
    font-weight: bold;
}

header nav a {
    font-style: italic;
    color: inherit;
    text-decoration: inherit;
}

article {
    margin:1em auto;
    max-width:40em;
    background-color: #FEFEFE;
    padding-left: 2em;
    padding-right: 2em;
    clear: both;
}

h1,h2,h3 {
    line-height:1.2;
}

@media screen and (max-width: 80em) {
    header {
        position: relative;
    }
}

#posts li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-top: solid 1px #CCCCCC;
    border-bottom: 100px;
    list-style-type: none;
    clear: both;
}


.post_id {
    float: right;
    font-size: small;
    overflow: hidden;
}

#posts li:first-child {
    border-top: none;
}

#posts li img {
    float:left;
    max-height: 4em;
    max-width: 4em;
    margin-right: 1em;
}

#posts .full {
    max-width: 70%;
    max-height: 15em;
    transition-duration: 1s;
}

#postForm, #threadForm {
    width: 440px;
    margin: auto;
    position: fixed;
    bottom: 20px;
    right:10px;
    text-align: right;
    background-color: #FEFEFE;
    padding: 5px;
}

form textarea{
    width: 100%;
    min-height: 150px;

}

form textarea, input, .fileLabel {
    background-color: inherit;
    border: solid 1px #CCCCCC;
}

form .fileLabel {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 112em) {
    #postForm, #threadForm {
        padding: 20px;
        position: relative;
        margin-top: 30px;
    }
}

article, form {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.error {
    color: #ff3333;
}
